:root { 
    --brancoPrin: #FFFFFFFF;
    --cnzSec:#C0C0C0;
    --botaoAz:  #167BF7;
    --corFnd:#00030C;
    --fonteprincipal: 'inter';
    --botao-AZefeito:  #3c92fa;

}

body {
    background-color: var(--corFnd);
    color: var(--brancoPrin);
    font-family: var(--fonteprincipal);
    font-size: 16px;
    font-weight: 400;
}

* {
     margin: 0; padding: 0;
}
.principal {
    background-image: url(Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container{
    height: 100vh;
    display:grid;
    grid-template-columns: 50% 50%;

}
.container__botao {
    background-color: var(--botaoAz);
    border-radius: 5px;
    padding: 1em;
    color: var(--brancoPrin);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;

}
.botao__secundario {
    background-color: transparent;
    border: 2px solid var(--brancoPrin);
}
.container__atencao {
    font-size: 12px;
    color: var(--cnzSec);
}

.container__img{
    margin: 1em 0 2em 0;
}

.container__cx {
    margin: 0 6em;
}

.sec__img {
    width: 80%;
}

.sec{
    align-items: center;
    margin:0 10em;
}
.desc__tit{
    font-weight: 700;
    font-size: 48px;
    color: var(--brancoPrin);
    margin-bottom: 0.1em;
}
.descricao__tx {
    color: var(--cnzSec);
}

.secundario__botao { 
    display: inline-block;
    margin-top: 1em;
    background-color: transparent;
    border: 2px solid var(--brancoPrin);
 }
.container__desc {
     padding: 2em; 
 }

.disp__lista {
   display: flex;
   justify-content:center;
   list-style-type: none;
   margin: 5em 0;
}

.dispositivos {
   text-align: center;
}

.disp__tit {
   font-size: 48px;

}
.list__itens {
   font-size:32px;
   color: var(--brancoPrin);
}

.rodape {
    text-align: center;
    margin: 5em 3em;

}

.rod__logo{
    text-align: center;
}


.rod_lists{
   display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;

}
.list__link a{
    color: var(--brancoPrin);
    text-decoration: none;
    margin-left: 1em  ;
}

   
.rodape__tx {
    margin-bottom: 1em 0;
    color: var(--cnzSec);
    font-size: 14px;
    margin: 1em 0;
}
.list__link a:hover {
    color: var(--botaoAz);
}
.list__link a:active {
     color: purple;
} 

.container__botao:hover { 
    background-color: var(--botao-AZefeito); 
    color: var(--corFnd); 
}